<!-- Navigation Bar -->
<nav class="navbar navbar-toggleable-md navbar-light bg-light">
    <a href="/" class="navbar-brand ml-4">
        <!-- icon downloaded from http://www.brandsoftheworld.com/logo/mbta-0 -->
        <!-- converted to .svg using https://cloudconvert.com/eps-to-svg -->
        <img src="../static/img/MBTA_full.svg" width="200" height="50" alt="MBTA logo">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#MBTAnavbar" aria-controls="MBTAnavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end mr-4" id="MBTAnavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://ac297r-mbta-2018.github.io/Final-Report/" target="_blank">Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://ac297r-mbta-2018.github.io/Code-Documentation/" target="_blank">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://ac297r-mbta-2018.github.io/Dashboard/about.html" target="_blank">About</a>
            </li>
        </ul>
    </div>
</nav>
